.grimoire {
    position: fixed; 
    right: 0; 
    top: 115px; 
    width: 150px; 
    height: calc(100vh - 70px); 
    z-index: 1050; 
    overflow-y: auto;
    background-color: #f8f9fa; 
    border-left: 2px solid #dee2e6; 
    display: flex;
    flex-direction: column;
    padding: 10px;
}   